* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: black;
}

.retour {
    position: absolute;
    top: 15px;
    left: 5px;
    color: white;
    text-decoration: none;
    
}

