* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}


body {
    background-color: white;
    color: white;
    text-align: left;
}
.accueil {
       height: 100vh;
    background-image: url(Images/image_accueil.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 20px;

}

.a_propos {
    position: absolute;
    top: 15px;
    right: 20px;
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
    width: 140px;
    height: 30px;
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.retour {
    position: absolute;
    top: 15px;
    left: 5px;
    color: white;
    text-decoration: none;
    
}

.portfolio {
    position: absolute;
    top: 15px;
    right: 180px;
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
    width: 140px;
    height: 30px;
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.texte {
    position: absolute;
    bottom: 20px;
    left: 20px;
    border: 2px solid;
    text-align: left;
    border-radius: 10px;
    width: 770px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: 'Courier New', monospace;
    line-height: 1.4em;
}
